<div class="code-page-layout">
  <header class="code background-sky">
      <h1 *ngIf="snippetModel" class="title ">{{ snippetModel.thema }}</h1>
      <div class="clear"></div>
      <h2 *ngIf="snippetModel" class="subtitle">{{ snippetModel.title }}</h2>
  </header>

  <article class="l-content-small grid-fluid docs-content">

      <div class="code-example">
          <header>
              <h4>Function loadDoc()</h4>
          </header>

          <!-- pre>
          <code codeHighlight *ngIf="codeSnippet" class="javascript">
            {{ codeSnippet }}
        </code>
      </pre -->
          <ng-container class="temp-class" *ngIf="!rerender">
              <prism-block *ngIf="snippetModel" id="code-snippet" [code]="snippetModel.codeSnippet" [language]="'javascript'">{{ snippetModel.codeSnippet }}</prism-block>
          </ng-container>
      </div>

      <div>{{ snippetId }}</div>
      <div>{{ snippetModel | json }}</div>

  </article>
</div>