<div *ngIf="snippetModel" class="code-page-layout">
    <header class="code background-sky">
        <h1 class="title ">{{ snippetModel.thema }}</h1>
        <div class="clear"></div>
        <h2 class="subtitle">{{ snippetModel.title }}</h2>
    </header>

    <article class="l-content-small grid-fluid docs-content">

        <div class="article-text">
            <p>
                {{ snippetModel.text }}
            </p>
        </div>
        <div class="code-example">
            <header>
                <h4>{{ snippetModel.codeTitle }}</h4>
            </header>
            <prism-block *ngIf="!rerender" id="code-snippet" [code]="snippetModel.codeSnippet" [language]="'javascript'">{{ snippetModel.codeSnippet }}</prism-block>
        </div>
        <div class="link">
            <p>
                For more info see <a href="{{ snippetModel.link }}" target="_blank">link</a>
            </p>
        </div>
        <p><br></p>
    </article>
</div>