article {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
}

.l-content-small {
    padding: 16px 32px;
    max-width: 1100px;
    margin: 0;
}

.grid-fluid {
    margin: 0 auto;
}

.docs-content {
    position: relative;
}

@media screen and (max-width: 599px) {
    .l-content-small {
      padding: 16px;
    }
}
