<nav *ngIf="sideNavMenu" class="sidenav-nav">
    <ul *ngFor="let key1 of objectKeys(sideNavMenu)">
      <h3 class="thema-title">{{ key1 }}</h3>
        <li>
            <ul *ngFor="let key2 of objectKeys(sideNavMenu[key1])">
              <li>
                <a class="language-button">
                  {{ key2 }}
                </a>
                <ul *ngFor="let key3 of objectKeys(sideNavMenu[key1][key2])">
                  <li>
                      <a [routerLink]="['code', sideNavMenu[key1][key2][key3]]" routerLinkActive="active" (click)="closeSidenav()" class="method-link">
                        {{ key3 }}
                      </a>
                    </li>
                </ul>
              </li>
            </ul>
        </li>
    </ul>
</nav>


<!-- nav *ngIf="sideNavMenu" class="sidenav-nav">
    <div *ngFor="let key1 of objectKeys(sideNavMenu)">
        <h3 class="thema-title">{{ key1 }}</h3>
        <ng2-dropdown *ngFor="let key2 of objectKeys(sideNavMenu[key1])">
                <ng2-dropdown-button class="language-button">
                    {{ key2 }}
                </ng2-dropdown-button>
                <ng2-dropdown-menu>
                    <ng2-menu-item *ngFor="let key3 of objectKeys(sideNavMenu[key1][key2])">
                        <div [routerLink]="['code', sideNavMenu[key1][key2][key3]]" routerLinkActive="active" class="method-link">
                          {{ key3 }}
                        </div>
                        <div class='ng2-menu-divider'></div>
                    </ng2-menu-item>
                </ng2-dropdown-menu>
        </ng2-dropdown>
    </div>
</nav -->

<!-- ng2-dropdown>
    <ng2-dropdown-button>
        Open Menu
    </ng2-dropdown-button>
    <ng2-dropdown-menu>
        <ng2-menu-item *ngFor="let page of pages">
            {{ page }}
        </ng2-menu-item>
 
        <div class='ng2-menu-divider'></div>
 
        <ng2-menu-item>
            With Divider
        </ng2-menu-item>
    </ng2-dropdown-menu>
</ng2-dropdown -->

<!-- md-sidenav-container fullscreen>
    <md-sidenav mode="over" #sidenav>

        <div fxLayout="column">
            <md-toolbar fxLayoutAlign="center center" color="primary">
                <button md-button routerLink="/home" (click)="sidenav.close()">
                <md-icon>home</md-icon>
            </button>
            </md-toolbar>
            <button md-button routerLink="/dashboard" (click)="sidenav.close()">Dashboard</button>
            <button md-button routerLink="/second" (click)="sidenav.close()">Second</button>
        </div>

    </md-sidenav>

    <div>
        <md-toolbar color="primary">

            <button md-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
                  <md-icon>menu</md-icon>
          </button>

            <div fxLayout="row" fxShow="false" fxShow.gt-sm>
                <button color="accent" md-button routerLink="/home">
                <md-icon>home</md-icon>
            </button>
                <button color="accent" md-button routerLink="/dashboard">Dashboard</button>
                <button color="accent" md-button routerLink="/second">Second</button>
            </div>

        </md-toolbar>
    </div>
</md-sidenav-container -->