<nav>
    <h3>Title</h3>
    <ul>
        <!-- -->
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/autocomplete" class="docs-component-viewer-sidenav-item-selected">
                      Autocomplete
                  </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/checkbox">
                    Checkbox
                  </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/datepicker">
                    Datepicker
                  </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/input">
                    Input
                  </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/radio">
                    Radio button
                  </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/select">
                    Select
                  </a>
        </li>
    </ul>

</nav>