<!-- <md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">

        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="code">Code</a>
            </li>
        </ul>


    </md-sidenav>

    <div class="example-sidenav-content">
        <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>
    </div>
    <router-outlet></router-outlet>
</md-sidenav-container>
-->


<nav class="main-nav">
    <ul>
        <li class="l-left">
            <button md-button class="nav-link" routerLink="home">
            <md-icon>icon</md-icon>
            <span>About</span>
            </button>
        </li>
        <li class="l-left">
            <button md-button class="nav-link" routerLink="code">
            <md-icon>icon</md-icon>
            <span>Code</span>
            </button>
        </li>
    </ul>
</nav>
<!-- router-outlet></router-outlet -->