<nav class="main-nav">
    <ul>
        <li class="l-left">
            <button md-button (click)="toggleSidenav()" class="nav-link">
                <md-icon>menu</md-icon>
            </button>
        </li>
        <li class="l-left">
            <button md-button class="nav-link" [routerLink]="['home']" routerLinkActive="current">
                <md-icon>home</md-icon>
                <span>About</span>
            </button>
        </li>
        <li class="l-left">
            <button md-button class="nav-link" [routerLink]="['code']" routerLinkActive="current">
                <md-icon>code</md-icon>
                <span>Code</span>
            </button>
        </li>
    </ul>
</nav>
<!-- router-outlet></router-outlet -->